In [1]:
import pandas as pd

In [2]:
#Load the dataset
df = pd.read_csv("mw_pw_profiles.csv", low_memory=False)
print(" Loaded data with shape:", df.shape)

 Loaded data with shape: (416712, 58)

In [3]:
#Preview data
print("First 5 rows:")
display(df.head())

print("\nColumns:")
print(df.columns.tolist())

print("\n Data types summary:")
print(df.dtypes.value_counts())

First 5 rows:

,player_id,match_id,gender,balls_per_over,start_date,series_name,match_type,name_x,runs_scored,player_out,...,key_pulse,key_pulse_2,full_name,batting_style,bowling_style,playing_role,teams,fantasy_score_batting,fantasy_score_bowling,fantasy_score_total
0,00015688,1158348,female,6,2018-08-21,Botswana Cricket Association Women's T20I Series,T20,M King,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,[],5,8,17
1,00015688,1182644,female,6,2019-05-05,ICC Women's T20 World Cup Africa Region Qualifier,T20,M King,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,[],3,0,7
2,00015688,1275107,female,6,2021-09-09,ICC Women's T20 World Cup Africa Region Qualifier,T20,M King,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],1,0,5
3,00015688,1275113,female,6,2021-09-15,ICC Women's T20 World Cup Africa Region Qualifier,T20,M King,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,[],0,0,4
4,00015688,1275125,female,6,2021-09-14,ICC Women's T20 World Cup Africa Region Qualifier,T20,M King,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,[],-5,0,-1

Columns:
['player_id', 'match_id', 'gender', 'balls_per_over', 'start_date', 'series_name', 'match_type', 'name_x', 'runs_scored', 'player_out', 'balls_faced', 'fours_scored', 'sixes_scored', 'catches_taken', 'run_out_direct', 'run_out_throw', 'stumpings_done', 'out_kind', 'dot_balls_as_batsman', 'order_seen', 'balls_bowled', 'runs_conceded', 'wickets_taken', 'bowled_done', 'lbw_done', 'maidens', 'dot_balls_as_bowler', 'player_team', 'opposition_team', 'name_y', 'unique_name', 'key_bcci', 'key_bcci_2', 'key_bigbash', 'key_cricbuzz', 'key_cricheroes', 'key_crichq', 'key_cricinfo', 'key_cricinfo_2', 'key_cricinfo_3', 'key_cricingif', 'key_cricketarchive', 'key_cricketarchive_2', 'key_cricketworld', 'key_nvplay', 'key_nvplay_2', 'key_opta', 'key_opta_2', 'key_pulse', 'key_pulse_2', 'full_name', 'batting_style', 'bowling_style', 'playing_role', 'teams', 'fantasy_score_batting', 'fantasy_score_bowling', 'fantasy_score_total']

 Data types summary:
int64      22
float64    19
object     17
Name: count, dtype: int64

In [4]:
#Missing values
print("\nMissing values (top 10 by %):")
missing_pct = df.isnull().mean().sort_values(ascending=False) * 100
print(missing_pct[missing_pct > 0].head(10))

Missing values (top 10 by %):
batting_style           100.000000
full_name               100.000000
playing_role            100.000000
bowling_style           100.000000
key_cricinfo_3           99.996160
key_cricketarchive_2     99.988961
key_opta_2               99.974803
key_crichq               99.973603
key_bcci_2               99.766265
key_cricheroes           99.720910
dtype: float64

In [5]:
# Match type and gender breakdown
print("\n Match types:")
print(df['match_type'].value_counts())

print("\n Gender counts:")
print(df['gender'].value_counts())

 Match types:
match_type
T20     252665
ODI      65192
MDM      39693
ODM      33115
Test     19007
IT20      7040
Name: count, dtype: int64

 Gender counts:
gender
male      339376
female     77336
Name: count, dtype: int64

In [6]:
#  Unique entities
print("\n Unique players:", df['player_id'].nunique())
print(" Unique matches:", df['match_id'].nunique())

 Unique players: 11771
 Unique matches: 18896

In [7]:
#  Who played the most matches
print("\n Top 10 players by match count:")
most_matches = df.groupby('player_id')['match_id'].nunique().sort_values(ascending=False)
print(most_matches.head(10))

 Top 10 players by match count:
player_id
ba607b88    802
4a8a2e3b    788
740742ef    757
a757b0d8    709
87e562a9    706
6b71e6cf    672
db584dad    668
d67d5f00    645
c4487b84    644
64c34cd0    639
Name: match_id, dtype: int64

In [12]:
df['thirty_plus'] = df['runs_scored'] >= 30
top_30plus = df.groupby('player_id')['thirty_plus'].sum().sort_values(ascending=False)

print("\n Players with most 30+ scores:")
print(top_30plus.head(10))

 Players with most 30+ scores:
player_id
ba607b88    423
6b71e6cf    348
dcce6f09    330
c4487b84    320
740742ef    313
db584dad    294
4a8a2e3b    290
a15618fe    271
a343262c    266
d027ba9f    265
Name: thirty_plus, dtype: int64

In [13]:
#  Top fantasy performers
avg_fantasy = df.groupby('player_id')['fantasy_score_total'].mean().sort_values(ascending=False)

print("\n Highest average fantasy scores (Top 10):")
print(avg_fantasy.head(10))

 Highest average fantasy scores (Top 10):
player_id
b4a45b8c    232.000000
65180edd    163.000000
3e72a174    158.000000
d0332cfb    155.000000
dd016f9d    147.250000
8629178f    140.000000
bad1af65    138.333333
a143d606    137.333333
5d90eb77    136.500000
402ea377    133.666667
Name: fantasy_score_total, dtype: float64

In [14]:
#  Batting & bowling style missing %
print("\n Missing batting/bowling style (%):")
style_missing = df[['batting_style', 'bowling_style']].isnull().mean() * 100
print(style_missing)

 Missing batting/bowling style (%):
batting_style    100.0
bowling_style    100.0
dtype: float64